<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h1 style="color: Darkred;">Homework for Lesson 4 November 2024</h1>
</div>

<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h3 style="color: Darkgreen;">Series in Pandas</h3>
</div>

In [3]:
import numpy as np
import pandas as pd

<div style="border: 2px solid Darkred; padding: 15px; background-color: #d3d3d3;">
    <h4 style="color: Darkblue;">
        <strong>
            1. <br><br>Create a series of brain games by (according to numeric index):
            <br>
        </strong>
    </h4>
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1a.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print the list:
    </h4>
</div>

In [5]:
games = [
    "Planet Coaster 2", "Mario & Luigi: Brothership", "Slitterhead", 
    "The Rise of the Golden Idol", "Dragon Quest 3 HD-2D Remake", 
    "Microsoft Flight Simulator 2024", "Stalker 2: Heart of Chornobyl", 
    "Fantasian Neo Dimension", "Marvel Rivals", 
    "Indiana Jones and the Great Circle", "Blood Line: A Rebel Moon Game", 
    "The Legend of Zelda: Echoes of Wisdom"
]
games_series = pd.Series(games);
games_series

0                          Planet Coaster 2
1                Mario & Luigi: Brothership
2                               Slitterhead
3               The Rise of the Golden Idol
4               Dragon Quest 3 HD-2D Remake
5           Microsoft Flight Simulator 2024
6             Stalker 2: Heart of Chornobyl
7                   Fantasian Neo Dimension
8                             Marvel Rivals
9        Indiana Jones and the Great Circle
10            Blood Line: A Rebel Moon Game
11    The Legend of Zelda: Echoes of Wisdom
dtype: object

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1b.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print the game at index 3:
    </h4>
</div>

In [5]:
print(games[3])  # אינדקס 3 הוא "The Rise of the Golden Idol"

The Rise of the Golden Idol

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1c.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Create a new list where the game name is the key and the price is the value:
        <br><br>
        <span style="font-size: 12px; color: black;">
            Here are the prices of the games, in order according to the game names listed above:
            
    [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 168.71, 149.96, 206.21, 0.0, 262.46]

</div>

In [7]:
games = [
    "Planet Coaster 2", "Mario & Luigi: Brothership", "Slitterhead", 
    "The Rise of the Golden Idol", "Dragon Quest 3 HD-2D Remake", 
    "Microsoft Flight Simulator 2024", "Stalker 2: Heart of Chornobyl", 
    "Fantasian Neo Dimension", "Marvel Rivals", 
    "Indiana Jones and the Great Circle", "Blood Line: A Rebel Moon Game", 
    "The Legend of Zelda: Echoes of Wisdom"
]

prices = [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 
          168.71, 149.96, 206.21, 0.0, 262.46]

# Create a DataFrame with 'Game Title' and 'Price' columns
game_prices_df = pd.DataFrame({
    'Game Title': games,
    'Price': prices
});
game_prices_df

                               Game Title   Price
0                        Planet Coaster 2  224.96
1              Mario & Luigi: Brothership  187.46
2                             Slitterhead  149.96
3             The Rise of the Golden Idol  131.21
4             Dragon Quest 3 HD-2D Remake  187.46
5         Microsoft Flight Simulator 2024  262.46
6           Stalker 2: Heart of Chornobyl  224.96
7                 Fantasian Neo Dimension  168.71
8                           Marvel Rivals  149.96
9      Indiana Jones and the Great Circle  206.21
10          Blood Line: A Rebel Moon Game    0.00
11  The Legend of Zelda: Echoes of Wisdom  262.46

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1d.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print the new list:
        

</div>

In [8]:
games = [
    "Planet Coaster 2", "Mario & Luigi: Brothership", "Slitterhead", 
    "The Rise of the Golden Idol", "Dragon Quest 3 HD-2D Remake", 
    "Microsoft Flight Simulator 2024", "Stalker 2: Heart of Chornobyl", 
    "Fantasian Neo Dimension", "Marvel Rivals", 
    "Indiana Jones and the Great Circle", "Blood Line: A Rebel Moon Game", 
    "The Legend of Zelda: Echoes of Wisdom"
]

prices = [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 
          168.71, 149.96, 206.21, 0.0, 262.46]

game_prices = dict(zip(games, prices));
game_prices_series = pd.Series(game_prices);
game_prices_series

Planet Coaster 2                         224.96
Mario & Luigi: Brothership               187.46
Slitterhead                              149.96
The Rise of the Golden Idol              131.21
Dragon Quest 3 HD-2D Remake              187.46
Microsoft Flight Simulator 2024          262.46
Stalker 2: Heart of Chornobyl            224.96
Fantasian Neo Dimension                  168.71
Marvel Rivals                            149.96
Indiana Jones and the Great Circle       206.21
Blood Line: A Rebel Moon Game              0.00
The Legend of Zelda: Echoes of Wisdom    262.46
dtype: float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1e.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print the price of the game "Marvel Rivals":

</div>

In [9]:
games = [
    "Planet Coaster 2", "Mario & Luigi: Brothership", "Slitterhead", 
    "The Rise of the Golden Idol", "Dragon Quest 3 HD-2D Remake", 
    "Microsoft Flight Simulator 2024", "Stalker 2: Heart of Chornobyl", 
    "Fantasian Neo Dimension", "Marvel Rivals", 
    "Indiana Jones and the Great Circle", "Blood Line: A Rebel Moon Game", 
    "The Legend of Zelda: Echoes of Wisdom"
]

prices = [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 
          168.71, 149.96, 206.21, 0.0, 262.46]

game_prices = dict(zip(games, prices));
game_prices_series = pd.Series(game_prices);
price_marvel_rivals = game_prices_series["Marvel Rivals"]
price_marvel_rivals

149.96

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1f.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print all the keys in the series (games):

</div>

In [10]:
games = [
    "Planet Coaster 2", "Mario & Luigi: Brothership", "Slitterhead", 
    "The Rise of the Golden Idol", "Dragon Quest 3 HD-2D Remake", 
    "Microsoft Flight Simulator 2024", "Stalker 2: Heart of Chornobyl", 
    "Fantasian Neo Dimension", "Marvel Rivals", 
    "Indiana Jones and the Great Circle", "Blood Line: A Rebel Moon Game", 
    "The Legend of Zelda: Echoes of Wisdom"
]

prices = [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 
          168.71, 149.96, 206.21, 0.0, 262.46]

game_prices = dict(zip(games, prices));
game_prices_series = pd.Series(game_prices);
print(game_prices_series.index);

Index(['Planet Coaster 2', 'Mario & Luigi: Brothership', 'Slitterhead',
       'The Rise of the Golden Idol', 'Dragon Quest 3 HD-2D Remake',
       'Microsoft Flight Simulator 2024', 'Stalker 2: Heart of Chornobyl',
       'Fantasian Neo Dimension', 'Marvel Rivals',
       'Indiana Jones and the Great Circle', 'Blood Line: A Rebel Moon Game',
       'The Legend of Zelda: Echoes of Wisdom'],
      dtype='object')

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1g.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Print the data type of the series:

</div>

In [24]:
# Creating a pandas Series from the dictionary
series = pd.Series(game_prices)

print(type(series))  # This will print: <class 'pandas.core.series.Series'>
print(series.dtype)  # This will print the dtype of the series

<class 'pandas.core.series.Series'>
float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1h.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Create a dictionary with 3 games of your choice and their prices, then create a series from it:

</div>

In [25]:
# Choose 3 games and their prices
selected_games = {
    "Cyberpunk 2077": 59.99,
    "Hogwarts Legacy": 49.99,
    "Elden Ring": 59.99
}

# Create a series from the dictionary
selected_series = pd.Series(selected_games);

print(selected_series);

Cyberpunk 2077     59.99
Hogwarts Legacy    49.99
Elden Ring         59.99
dtype: float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1i.
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        Reset the index to be a default numerical index:

</div>

In [26]:
# Resetting the index to a default numerical index
reset_series = selected_series.reset_index(drop=True)

print(reset_series)

0    59.99
1    49.99
2    59.99
dtype: float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #d3d3d3;">
    <h4 style="color: Darkblue;">
        <strong>
            2. <br><br>What is the difference between the + operator and the add() method in Pandas? 
            <br>
        </strong>
    </h4>
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            Answer:
        </strong>
        <br><br>
        <span style="font-size: 12px; color: black;">
        The + operator is used for element-wise addition between two pandas Series or DataFrames. When using the + operator, it will add the values of two Series or DataFrames based on their indices (labels). If an index is missing in either of the Series or DataFrames, the result will be NaN for that index.            
    [224.96, 187.46, 149.96, 131.21, 187.46, 262.46, 224.96, 168.71, 149.96, 206.21, 0.0, 262.46]

</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            Example 1: [The operator +]

</div>

In [30]:
import pandas as pd

# Create two Series
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])

# Use the + operator to add the two Series
result = series1 + series2
print(result)

a    5
b    7
c    9
dtype: int64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            Example 2: [The add() Method]

</div>

In [31]:
# Create two Series with a missing index in series2
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c']);
series2 = pd.Series([4, 5], index=['a', 'b']);

# Use the add() method to add the two Series with a fill_value
result = series1.add(series2, fill_value=0);
print(result);

a    5.0
b    7.0
c    3.0
dtype: float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #d3d3d3;">
    <h4 style="color: Darkblue;">
        <strong>
            3. <br><br>Here is a list of games and their prices:
            <br>
        </strong>
    </h4>
</div>

In [33]:
games = { "Planet Coaster 2": 224.96, "Mario & Luigi: Brothership": 187.46,
"Slitterhead": 149.96, "Marvel Rivals": 149.96,
"The Legend of Zelda: Echoes of Wisdom": 262.46 }
print(games);

{'Planet Coaster 2': 224.96, 'Mario & Luigi: Brothership': 187.46, 'Slitterhead': 149.96, 'Marvel Rivals': 149.96, 'The Legend of Zelda: Echoes of Wisdom': 262.46}

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            Converting the dictionary into a Pandas Series (***Extra***):

</div>

In [34]:
# Original dictionary of games and prices
games = { 
    "Planet Coaster 2": 224.96, 
    "Mario & Luigi: Brothership": 187.46,
    "Slitterhead": 149.96, 
    "Marvel Rivals": 149.96,
    "The Legend of Zelda: Echoes of Wisdom": 262.46
}

# Convert the dictionary to a Pandas Series
games_series = pd.Series(games)

# Print the Pandas Series
print(games_series)

Planet Coaster 2                         224.96
Mario & Luigi: Brothership               187.46
Slitterhead                              149.96
Marvel Rivals                            149.96
The Legend of Zelda: Echoes of Wisdom    262.46
dtype: float64

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            You received a list of discounts for the holiday:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * The game "Planet Coaster 2" has a discount of 50 Shekels.<br>
* The game "Marvel Rivals" has a discount of 80 Shekels.<br>
* The game "The Legend of Zelda: Echoes of Wisdom" has a discount of 15 Shekels.

</div>


<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Black;">
        <strong>
            Calculate the new prices by applying the discounts and output them as a series using the add operation:
</div>

In [37]:
# Original prices
prices = {
    "Planet Coaster 2": 224.96,
    "Mario & Luigi: Brothership": 187.46,
    "Slitterhead": 149.96,
    "Marvel Rivals": 149.96,
    "The Legend of Zelda: Echoes of Wisdom": 262.46
}

# Create a pandas Series
prices_series = pd.Series(prices);

# Apply the discounts
discounts = {
    "Planet Coaster 2": 50,
    "Marvel Rivals": 80,
    "The Legend of Zelda: Echoes of Wisdom": 15
}

# Apply discounts
new_prices = prices_series.copy();

for game, discount in discounts.items():
    new_prices[game] = prices_series[game] - discount

# Print the new prices series
print(new_prices);

Planet Coaster 2                         174.96
Mario & Luigi: Brothership               187.46
Slitterhead                              149.96
Marvel Rivals                             69.96
The Legend of Zelda: Echoes of Wisdom    247.46
dtype: float64